<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="col">Header</div>
    <div class="container">
      <div class="spacer"></div>
      <div class="row">
        <div class="col-lg-4 col-sm-12">
          <app-basic-card title="Fact #1" data="Over 150 million copies of Scrabble have been sold worldwide!"> </app-basic-card>
        </div>
        <div class="col-lg-4 col-sm-12">
          <app-basic-card title="Fact #2" data="Each hour, at least 30,000 Scrabble games are started."> </app-basic-card>
        </div>
        <div class="col-lg-4 col-sm-12">
          <app-basic-card title="Fact #3" data="Scrabble is used all over the world as a means of teaching English."> </app-basic-card>
        </div>
      </div>
      <div class="spacer"></div>
      <div class="row">
        <div class="col">
          <app-player-table></app-player-table>
        </div>
      </div>
    </div>
  </body>
</html>
